<div class="register-container">
  <div class="register-card">

    <div class="register-header">
      <h1>Inscription</h1>
    </div>

    <div class="register-content">
      <mat-form-field appearance="outline">
        <mat-label>Nom d'utilisateur</mat-label>
        <input matInput placeholder="john.doe" [formControl]="username"
          (blur)="updateErrorMessage(username, 'username')" required />
        @if (username.invalid) {
        <mat-error>{{getUsernameErrorMessage()}}</mat-error>
        }
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Prénom</mat-label>
        <input matInput placeholder="John" [formControl]="firstName" (blur)="updateErrorMessage(firstName, 'prénom')"
          required />
        @if (firstName.invalid) {
        <mat-error>{{getFirstNameErrorMessage()}}</mat-error>
        }
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Nom</mat-label>
        <input matInput placeholder="Doe" [formControl]="lastName" (blur)="updateErrorMessage(lastName, 'nom')"
          required />
        @if (lastName.invalid) {
        <mat-error>{{getLastNameErrorMessage()}}</mat-error>
        }
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Mot de passe</mat-label>
        <input matInput type="password" placeholder="Mot de passe" [formControl]="password"
          (blur)="updateErrorMessage(password, 'mot de passe')" required />
        @if (password.invalid) {
        <mat-error>{{getPasswordErrorMessage()}}</mat-error>
        }
      </mat-form-field>
    </div>

    <div class="register-actions">
      <button mat-flat-button color="warn" (click)="onRegister()">
        S'inscrire
      </button>
      <a mat-stroked-button color="primary" class="login-link" [routerLink]="['/login']">
        <span>Se connecter</span>
      </a>
    </div>

  </div>
</div>