<div class="login-container">
  <div class="login-card">

    <div class="login-header">
      <h1>Connexion</h1>
    </div>

    <div class="login-content">
      <mat-form-field appearance="outline">
        <mat-label>Nom d'utilisateur</mat-label>
        <input matInput placeholder="john.doe" [formControl]="email" (blur)="updateErrorMessage(email, 'email')"
          required />
        @if (email.invalid) {
        <mat-error>{{getEmailErrorMessage()}}</mat-error>
        }
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Mot de passe</mat-label>
        <input matInput type="password" placeholder="Mot de passe" [formControl]="password"
          (blur)="updateErrorMessage(password, 'mot de passe')" required />
        @if (password.invalid) {
        <mat-error>{{getPasswordErrorMessage()}}</mat-error>
        }
      </mat-form-field>
    </div>

    <div class="login-actions">
      <button mat-flat-button color="warn" (click)="onLogin()">
        Se connecter
      </button>
      <a mat-stroked-button color="primary" class="register-link" [routerLink]="['/register']">
        <span>S'inscrire</span>
      </a>
    </div>

  </div>
</div>